body{
    margin:0;
    font-family:Poppins,sans-serif;
    background:#090b12;
    color:#fff;
    overflow-x:hidden;
}

.hero{
    position:relative;
    height:100vh;
    background:url("img/hero.jpg") center center/cover no-repeat;
}

.overlay{
    position:absolute;
    inset:0;
    background:linear-gradient(
        rgba(0,0,0,.65),
        rgba(0,0,0,.85)
    );
}

.navbar{
    position:relative;
    z-index:2;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
}

.logo{
    font-size:34px;
    font-weight:700;
    color:#36ff8a;
    text-shadow:0 0 20px #36ff8a;
}

.menu{
    display:flex;
    gap:35px;
}

.menu a{
    color:white;
    text-decoration:none;
    transition:.25s;
}

.menu a:hover{
    color:#36ff8a;
}

.hero-content{
    position:relative;
    z-index:2;
    height:85%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
}

.hero-content h1{
    font-size:90px;
    margin:0;
    text-shadow:0 0 30px #36ff8a;
}

.hero-content p{
    font-size:24px;
    color:#d5d5d5;
    margin:20px 0 40px;
}

.download{
    background:#36ff8a;
    color:#000;
    border:none;
    padding:18px 45px;
    font-size:20px;
    border-radius:14px;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 0 30px #36ff8a;
}

.download:hover{
    transform:translateY(-5px);
    box-shadow:0 0 45px #36ff8a;
}
